<style>
    .userprofileBtns {
        background: #fff;
        border: 0px;
        color: #212121;
    }

    .userprofileBtns-active {
        background: #4CAF50;
        color: #fff;
    }
</style>

<div class="">
    
    <div class="row">
        <div class="col-6">
            <h3>{{userProfileController.setUser.PATIENTNAME}} {{userProfileController.setUser.PATIENTSURNAME}}</h3>
        </div>
        <div class="col-6">
            <div class="pull-right">

                <input type="button" value="Generate Dr's Note" class="btn btn-primary btn-sm remove-radius" ng-click="userProfileController.generateDrNote()">
                <input type="button" value="Generate Referral Note" class="btn btn-primary btn-sm remove-radius" ng-click="userProfileController.generateDrRefNote()">
                <input type="button" class="btn btn-default btn-sm remove-radius" value="Back to queue" ng-click="userProfileController.return_to_search()">
            </div>
        </div>
    </div>

    <hr class="colorgraph">

    <div class="pull-right" ng-if="false">
        <input type="button" class="btn btn-default" value="search for other patient" ng-click="userProfileController.return_to_search()">
    </div>
    <br>
    <div class="row">
        <!-- <div class="col-md-3">

            <profile-picture></profile-picture>

            <br>
        </div>  -->
        <div class="col-12">

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <input type="button" class="nav-link active userprofileBtns userprofileBtns-active" ng-class="{'userprofileBtns-active': tab_count == 1}"
                        value="General" ng-click="tab_count = 1">
                </li>
                <li class="nav-item" ng-if="false">
                    <input type="button" class="nav-link active userprofileBtns" value="Address" ng-class="{'userprofileBtns-active': tab_count == 2}"
                        ng-click="tab_count = 2">
                </li>
                <li class="nav-item">
                    <input type="button" class="nav-link active userprofileBtns" value="Medical History" ng-class="{'userprofileBtns-active': tab_count == 3}"
                        ng-click="tab_count = 3">
                </li>
                <li class="nav-item">
                    <input type="button" class="nav-link active userprofileBtns" value="Clinical Examination" ng-class="{'userprofileBtns-active': tab_count == 4}"
                        ng-click="tab_count = 4">
                </li>
                <li class="nav-item">
                    <input type="button" class="nav-link active userprofileBtns" ng-class="{'userprofileBtns-active': tab_count == 5}" value="Notes"
                        ng-click="tab_count = 5">
                </li>
            </ul>


            <ul class="nav nav-tabs" ng-init="tab_count = 1" ng-if="false">

                <li class="nav-item">
                    <input type="button" value="General" class="nav-link" ng-class="{'active': tab_count == 1}" ng-click="tab_count = 1">

                </li>
                <div ng-if="false">
                    <li class="nav-item">

                        <input type="button" value="Address" class="nav-link" ng-class="{'active': tab_count == 2}" ng-click="tab_count = 2">
                    </li>
                </div>
                <li class="nav-item">

                    <input type="button" value="Medical History" class="nav-link" ng-class="{'active': tab_count == 3}" ng-click="tab_count = 3">
                </li>
                <li class="nav-item">

                    <input type="button" value="Clinical Examination" class="nav-link" ng-class="{'active': tab_count == 4}" ng-click="tab_count = 4">
                </li>
                <li class="nav-item">

                    <input type="button" value="Notes" class="nav-link" ng-class="{'active': tab_count == 5}" ng-click="tab_count = 5">
                </li>
            </ul>
            <br>
            <general-tab ng-if="tab_count == 1"></general-tab>
            <address-tab ng-if="tab_count == 2"></address-tab>
            <past-medical-history-tab ng-if="tab_count == 3"></past-medical-history-tab>
            <clinical-exam-tab ng-if="tab_count == 4"></clinical-exam-tab>
           
            <div ng-if="tab_count == 5">
                <br>
                <div class="row">
                    <div class="col-md-12">

                        <input type="button" value="Add Note" class="btn btn-primary ">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">

                        <table class="table">
                            <thead>
                                <th>#</th>
                                <th>Date</th>
                                <th>Dr</th>
                                <th>Comment</th>
                            </thead>
                            <tr>
                                <td>1.</td>
                                <td>12/06/2017</td>
                                <td>Dr A Gumede</td>
                                <td>Patient showing signs of arthritis. Patient to come back after 12 days to fetch test results.</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>18/07/2017</td>
                                <td>Dr P Khumalo</td>
                                <td>Nkosinathi has chest pains. I have booked him for an x-ray</td>
                            </tr>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>

    <!-- 
                                                                    <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="thumb-container">
                                                                                    <div class="thumb-header">
                                                                                        <div id="medicalHistory">
                                                                                            <img src="img/icons/address/pin-33.png" height="50"> <b> Medical Notes:</b>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="thumb-body">
                                                                                        <div class="row add-border-bottom">
                                                            
                                                                                            <div class="col-md-12 ">
                                                                                                <blockquote>
                                                                                                    <p></p>
                                                                                                    <footer>Comments will be displayed below:</footer>
                                                            
                                                                                                    <form name="addGoals">
                                                                                                        <br>
                                                                                                        <textarea class="form-control remove-radious" ng-model="ui_coach.txtCoachConversations"></textarea>
                                                                                                        <br>
                                                                                                        <input type="button" class="btn btn-md btn-warning remove-radious pull-right" value="Add" ng-click="addToList('CoachConversations')">
                                                                                                        <hr>
                                                                                                        <br>
                                                                                                    </form>
                                                                                                    <comments></comments>
                                                                                                </blockquote>
                                                                                            </div>
                                                            
                                                                                        </div>
                                                            
                                                                                    </div>
                                                                                    <div class="thumb-footer">
                                                            
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
    -->
</div>