
<div>
    <div class="row">
        <div class="col-6">
            <div class="heading-s">
                <div class="row">
                    <div class="col-4">
                        LANGUAGE PREFERENCE:
                    </div>
                    <div class="col-8">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="heading-s">
                <div class="heading-s">
                    <div class="row">
                        <div class="col-4">
                            COMPUTER NO:
                        </div>
                        <div class="col-8">
                            {{userProfileController.setUser.PATIENTCARDNUMBER}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-6">

            <div class="row">
                <div class="col-12">
                    <div class="heading-s">
                        PATIENT DETAILS
                    </div>
                </div>

            </div>
            <BR>
            <div class="row">

                <div class="col-4">
                    Full Name and Surname:
                </div>
                <div class="col-8">
                    {{userProfileController.setUser.PATIENTNAME}} 
                    {{userProfileController.setUser.PATIENTSURNAME}}
                </div>

            </div>
            <BR>
            <div class="row">

                <div class="col-4">

                    I.D No:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTIDNUMBER}}
                </div>

            </div>
            <BR>
            <div class="row">

                <div class="col-4">

                    Mr/Mrs/Miss:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTTITLE}}
                </div>

            </div>
            <BR>

            <div class="row">
                <div class="col-12">
                    <div class="heading-s">
                        NEAREST FAMILY FRIEND
                    </div>
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Name:
                </div>
                <div class="col-8">

                    {{userProfileController.familyfreind.FFNAME}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Relationship:
                </div>
                <div class="col-8">

                    {{userProfileController.familyfreind.FFRELATIONSHIP}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Address:
                </div>
                <div class="col-8">

                    {{userProfileController.familyfreind.FFADDRESS1}}

                </div>

            </div>
            <br>

            <div class="row">
                <div class="col-12">
                    <div class="heading-s">
                        MEDICAL AID
                    </div>
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Name:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTMEDICALAIDNAME}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Plan:
                </div>
                <div class="col-8">
                    {{userProfileController.setUser.PATIENTMEDICALAIDPLAN}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Number:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTMEDICALAIDNUMBER}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Other: eg. Hospital Plan
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTMEDICALAIOTHER}}
                </div>

            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <div class="heading-s">
                        NAME OF HOUSE DOCTOR (GENERAL PRACTITIONER)
                    </div>
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-12">
                    {{userProfileController.setUser.PATIENTHOUSEDOCTOR}}
                </div>


            </div>

            <br>


            <div class="row">
                <div class="col-12">
                    <div class="heading-s">
                        DEPENDENCE IN FAMILY ON MEDICAL AID
                    </div>
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-12">

                    <br>

                    <table class="table">
                        <thead>
                            <th>Name:</th>
                            <th>Sex:</th>
                            <th>Date of Birth:</th>
                            <th>Allergies:</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="people in userProfileController.dependents.data">
                                <td>{{people.PATIENTNAME}} {{people.PATIENTSURNAME}}</td>
                                <td></td>
                                <td>{{people.PATIENTDOB}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <br>

        </div>
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <div class="heading-s">
                        PERSON RESPONSIBLE FOR ACCOUNT
                    </div>
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Full Name and Surname:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTNAME}} 
                    {{userProfileController.setUser.PATIENTSURNAME}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Mr/Mrs/Miss
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTTITLE}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Date of Birth:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTDOB}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    I.D. No:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTIDNUMBER}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Marital Status:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTMARITALSTATUS}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Home Address:
                </div>
                <div class="col-8">
                    {{userProfileController.setUser.PATIENTHOMEADDRESS1}}<br>
                    {{userProfileController.setUser.PATIENTHOMEADDRESS2}}<br>
                    {{userProfileController.setUser.PATIENTHOMEADDRESS3}}<br>
                    {{userProfileController.setUser.PATIENTHOMEADDRESSCODE}}

                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Tel:
                </div>
                <div class="col-8">

                    c) {{userProfileController.setUser.PATIENTTELL}}<br>
                    w) {{userProfileController.setUser.PATIENTCELL}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Postal Address:
                </div>
                <div class="col-8">
                    {{userProfileController.setUser.PATIENTPOSTALADDRESS1}}<br>
                    {{userProfileController.setUser.PATIENTPOSTALADDRESS2}}<br>
                    {{userProfileController.setUser.PATIENTPOSTALADDRESS3}}<br>
                    
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Code:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTPOSTALADDRESSCODE}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Tel. Spouse:
                </div>
                <div class="col-8">
                    t) {{userProfileController.setUser.PATIENTSPOUSETELL}}
                    c) {{userProfileController.setUser.PATIENTSPOUSECELL}}
                </div>

            </div>
            <br>
            <div class="row" ng-if="false">

                <div class="col-4">

                    Tel. Wife:
                </div>
                <div class="col-8">
                    (w)<input class="form-control remove-radius simplebox"> (c)
                    <input class="form-control remove-radius simplebox">
                </div>

            </div>

            <br>
            <div class="row">

                <div class="col-4">

                    Name of Employer:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTEMPLOYER}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Occupation:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTOCCUPATION}}
                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Address:
                </div>
                <div class="col-8">
                    {{userProfileController.setUser.PATIENTOCCUPATIONADDRESS1}}<br>
                    {{userProfileController.setUser.PATIENTOCCUPATIONADDRESS2}}<br>
                    {{userProfileController.setUser.PATIENTOCCUPATIONADDRESS3}}

                </div>

            </div>
            <br>
            <div class="row">

                <div class="col-4">

                    Tel:
                </div>
                <div class="col-8">

                    {{userProfileController.setUser.PATIENTOCCUPATIONTELL}}
                </div>

            </div>
        </div>
    </div>

    <br>

</div>